qubership-apihub-service/.idea
qubership-apihub-service/go.sum
.idea
.vscode
.history
qubership-apihub-service/data/**
qubership-apihub-service/logs/**
qubership-apihub-service/qubership-apihub-service.exe
qubership-apihub-service/__debug_bin.exe
qubership-apihub-service/qubership-apihub-service
logs
qubership-apihub-service/logs
qubership-apihub-service/tmp/**
qubership-apihub-service/bin/**

docs/local_development/jwt_private_key
*.patch
*.iml
*.bak
*.orig
*.exe
*.env
env
jwt_private_key

*.bak
*.patch

.DS_Store