apihub-service/.idea
apihub-service/go.sum
.idea
.vscode
.history
apihub-service/data/**
apihub-service/static/**
apihub-service/logs/**
apihub-service/apihub-service.exe
apihub-service/__debug_bin.exe
apihub-service/apihub-service
logs
apihub-service/logs
apihub-service/tmp/**
apihub-service/bin/**

docs/local_development/jwt_private_key
*.patch
*.iml
*.bak
*.orig
*.exe
*.env
env
jwt_private_key

*.bak
*.patch