<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>%s</title>
  <link rel="stylesheet" type="text/css" href="resources/styles.css">
  %s
</head>
<body>
  <div class="header">
    <img class="header__logo" src="resources/corporatelogo.png"/>
    <div class="header__info">
      <h3>%s</h3>
      <h4>Version: %s</h4>
    </div>
  </div>
  <div class="page">
    %s
    <div class="card content">
      <div class="card__title">Table of contents</div>
      <ul class="card__list">
        %s
      </ul>
    </div>
    <div class="footer">
      <span class="footer__statement">
        <a href="ls.html">Legal statement</a>
      </span>
      <span class="footer__legal">
        %s<br><br>
        qubership-apihub
      </span>
    </div>
  </div>
</body>
</html>
