name: Docker CI Workflow
on:
  release:
    types: [created]
  push:
    branches:
      - '**'

jobs:
  call-docker-ci-workflow:
    uses: netcracker/qubership-apihub-ci/.github/workflows/docker-ci.yml@v1
    with:
      name: qubership-apihub-backend
      file: Dockerfile
      context: ""
